@media(max-width: 1400px){
    header{
        position: relative;
    }
    .menu{
        position: absolute;
        top: calc(100% + 5px);
        transition: .3s;
        transform: translate(calc(-50vw - 100%), 0);
    }
    .menu_toggle{
        display: flex;
        cursor: pointer;
    }
    .menu_mobile_opened{
        transform: translate(0, 0);
    }
    .promo_wrap{
        flex-wrap: wrap;
    }
    .promo_slider_list{
        max-width: 100%;
    }
    .promo_aside{
        display: none;
    }
    .news_block{
        margin: 10px;
    }
    .company_news_block, .we_are_informed_block{
        width: 100%;
    }
    .company_news_block_content, .we_are_informed_block_content{
        width: 100%;
    }
    .company_news_block_txt, .we_are_informed_block_txt{
        margin-bottom: 80px;
    }
    .news_list{
        justify-content: space-around;
    }
    .survey{margin-right: 0;}
    .survey h2{padding-right: 0;}
    .survey_vs_partners_wrap{
        flex-direction: column;
    }
}
/* 1400px 1400px 1400px*/

@media(max-width: 1280px){
    .half_add_wrap{
        flex-wrap: wrap;
    }
    .quatro_add_block{
        width: 48%;
        max-width: 48%;
        margin: 10px 0;
    }
    .company_news_block_txt, .we_are_informed_block_txt {
        margin-bottom: 40px;
    }
}
/* 1280px 1280px 1280px*/

@media(max-width: 1100px){
}
/* 1100px 1100px 1100px*/

@media(max-width: 960px){
    .menu{
        flex-direction: column;
        margin-left: -5vw;
        width: 100%;
        z-index: 1000;
    }
    .add_nav{
        flex-wrap: wrap;
    }
    .add_nav>*{
        order: 5;
    }
    .info_nav{
        width: 100%;
        order: 3;
        margin-bottom: 25px;
    }
    .add_nav{
        margin-bottom: 20px;
    }
    .menu_block a{
        background-color: #F5F5F5;
        padding: 15px 5vw;
        color: #263A48;
    }
    .search_wrap{
        min-width: 200px;
    }
    
    .promo_slide_img{height: 60vw;}
}
/* 960px 960px 960px*/

@media(max-width: 800px){
    .half_add_block{
        width: 100%;
        max-width: 100%;
    }
    .quatro_add_block{
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}
/* 800px 800px 800px*/

@media(max-width: 720px){
    .we_are_informed_block_content,
    .company_news_content{
        padding: 15px 5vw;
    }
    .we_are_informed_block_chosen .we_are_informed_block_img,
    .company_news_block_chosen .company_news_block_img{
        height: 60vw;
    }
    .we_are_informed_block_img,
    .company_news_block_img{
        width: 100vw;
        height: 0;
        transition: .3s;
    }
    .we_are_informed_block_img img,
    .company_news_block_img img{
        width: 100%;
        height: auto;
    }
    .news_list .news_block{
        height: auto;
    }
    .company_news_block, .we_are_informed_block{
        flex-wrap: wrap;
        min-width: inherit;
    }
    .comments_block_more{display: none;}
    .comments_block, .opinion_block{
        border: none;
        box-sizing: border-box;
    }
    .opinion .news_list_nav, .comments .news_list_nav{
        display: none;
    }
    .partners .news_list_nav .slider_nav_more_news{
        border-bottom: 1px solid #CCCCCC!important;
        width: 100%;
    }
    .partners .news_list_nav .slider_nav_more_news:hover{
        border-bottom: 1px solid #3AE05B!important;
    }
    .survey_wrap{margin-right: 0; border: none;}
    .partners_block, .company_news_block, .we_are_informed_block{border-width: 1px 0 1px 0;}
    .company_news .news_list_nav_left_block{display: none;}
    .company_news .news_list_nav .slider_nav_more_news{
        border-bottom: 1px solid #CCCCCC!important;
        width: 100%;
    }
    .company_news .news_list_nav .slider_nav_more_news:hover{
        border-bottom: 1px solid #3AE05B!important;
    }
}
/* 720px 720px 720px*/

@media(max-width: 600px){
    .news_block_img{
        height: inherit;
    }
    .news_list .news_block{
        margin: 0 auto 15px auto;
        width: 100%;
    }
    .news_block_info{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .user_identtify_nav_block{
        margin: 0 5px;
    }
    .news_block_info>*{order: 5;}
    .news_block_info .news_block_date{
        order: 3;
    }
    .news_block_info .news_block_date{
        order: 4;
    }
    .news_block{
        border: 0;
    }
    .we_are_informed_mobile_hide{
        display: flex;
    }
    .we_are_informed_mobile_hide .slider_nav_offer_news_ico{
        transform: rotate(45deg);
        background-color: #0E2433;
    }
    .we_are_informed_hide_on_mobile{display: none;}
    .we_are_informed_list.we_are_informed_list_hidden_on_mobile{
        overflow: hidden;
        height: 0;
    }
    .we_are_informed_mobile_hide p span:first-child{
        display: none;
    }
    .we_are_informed_mobile_hide.we_are_informed_list_hidden_on_mobile p span:last-child{
        display: none;
    }
    .we_are_informed_mobile_hide.we_are_informed_list_hidden_on_mobile p span:first-child{
        display: initial;
    }
    .we_are_informed_mobile_hide .slider_nav_offer_news_ico div:last-child{
        display: none;
    }
    .we_are_informed_mobile_hide.we_are_informed_list_hidden_on_mobile .slider_nav_offer_news_ico{
        transform: rotate(0);
    }
    .we_are_informed_mobile_hide.we_are_informed_list_hidden_on_mobile .slider_nav_offer_news_ico div:first-child{
        display: none;
    }
    .we_are_informed_mobile_hide.we_are_informed_list_hidden_on_mobile .slider_nav_offer_news_ico div:last-child{
        display: initial;
    }
}
/* 600px 600px 600px*/

@media(max-width: 480px){
    .we_are_informed_block_content,
        .company_news_block_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .we_are_informed_block_txt, .we_are_informed_block_rate,
        .company_news_block_txt, .company_news_block_rate{
        display: none;
    }
    .we_are_informed_block_date, .we_are_informed_block_author, .company_news_block_date{
        font-size: 0;
        transition: .2s;
    }
    .we_are_informed_block_chosen .we_are_informed_block_date,
    .we_are_informed_block_chosen .we_are_informed_block_author,
    .company_news_block_chosen .company_news_block_date{
        font-size: initial;
    }
    .we_are_informed_block .we_are_informed_block_name, .company_news_block .company_news_block_name{
        font-family: 'MullerLight';
        font-size: 18px;
    }
    .we_are_informed_block_chosen .we_are_informed_block_name, .company_news_block_chosen .company_news_block_name{
        font-family: 'MullerBold';
        font-size: 22px;
    }
    .we_are_informed_block_content>*,
        .company_news_block_content>*{
        order: 5;
    }
    .we_are_informed_block_content .we_are_informed_block_inform,
        .company_news_block_content .company_news_block_inform{
        margin-bottom: 10px;
        order: 3;
    }
    .we_are_informed_block_author{order: 4;}
}
/* 480px 480px 480px*/

@media(max-width: 400px){

}
/* 400px 400px 400px*/

@media(max-width: 360px){

}
/* 360px 360px 360px*/

@media(max-width: 320px){

}
/* 320px 320px 320px*/
